#school{
    height: 20%;
    width: 100%;
}
.campus_name{
    background-color: rgb(43, 44, 41);
    text-decoration-color: aliceblue;
    width: 300px;
}
.campus{
    height: 300px;
   width: 300px;
}